body {
    background-image: url('imagens/needcoffee.jpg') ;
    
}
p , ol, td, li, h3, button{
    font-family: Arial, Helvetica, sans-serif;
}

p {
 color: whitesmoke ;
 text-align: 80px;
}

ol {
    color: whitesmoke ;
    padding: black;
   }

   td {
    color: whitesmoke ;
    text-align: 50px;
   }

   li{
    font-family: Arial, Helvetica, sans-serif;
   }
   h3 {
    color: whitesmoke;
   }

   button {
    background-color: burlywood;
    color: brown;
   }
